// ------------------------ COLOURS ------------------------
$color-white: #fcfaff;
$color-gray: #9b9b9b;
$color-darkGray: #a8a7a7;
$color-black: #151515;

// Status
$color-danger: #ff6f5b;
$color-success: #4ee1a0;
